.btn {
    --btn-background-color: var(--text-color-primary);
    --btn-color: var(--background-color);
    border: 0;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content; /*largura se encaixar conforme o tamanho do conteúdo interno*/

    border-radius: .5rem;

    font: var(--font-weight-md) var(--font-size-base)/1.5rem var(--font-family-sans);/*todos possuem 24px de altura, então 24/16=1.5*/
    cursor: pointer;

    background: var(--btn-background-color);
    color: var(--background-color);
}

.btn:hover {
    --btn-background-color: linear-gradient(90deg, var(--brand-color-secondary) 0%, var(--brand-color-primary) 100%); 
    /*--btn-background-color: linear-gradient(90deg, #fc4a1a, #f7b733); pode fazer assim também*/
    -webkit-background-clip: initial;
    background-clip: initial;
    color: var(--background-color);
}

/*Agora as propriedades para os diferentes tamanhos de botões:*/
.btn-small {
    padding: 0.5rem 1rem; /*0.5rem em cima e embaixo e 1rem nas laterais*/
    font-size: var(--font-size-sm);
}

.btn-medium {
    padding: 0.75rem 1.5rem;
    font-size: var(--font-size-base);
}

.btn-large {
    padding: 1rem 2rem;
    font-size: 1.125rem;
}

.btn[aria-label] {
    position: relative;
}

.btn[aria-label]::before {
    content: "";
    position: absolute;
    border-radius: inherit; /*herdar do pai*/
    inset: 1.5px; /*deslocamento que deixou a "borda" que eu queria*/
    background-color: var(--background-color);
}

.btn[aria-label]::after {
    content: attr(aria-label); /*pega um atributo*/
    background: var(--btn-background-color); /*essa cor já seria o linear gradient com hover*/
    -webkit-background-clip: text; /*fazerem o recorte e aplicar a cor só no texto, pois estava aplicando no fundo da caixa de texto*/
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
}

@media (width >= 80em) {
    .btn-small {
        padding: 0.75rem 1.5rem;
        font-size: var(--font-size-base);
    }
    
    .btn-medium {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
    
}