footer {
    color: var(--text-color-secondary);
    font: var(--font-weight-md);
}

footer .container {
    padding-inline: 3rem;
}

footer .container,
footer .top {
    gap: 3rem;
}

footer nav.even-column {
    gap: 3rem;
}

footer .top ul {
    align-content: start;
}

footer .title {
    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-color-primary);
}

footer .bottom {
    flex-wrap: wrap;
}

footer .bottom > div {
    margin-right: auto;
}

@media (width >= 80em ) {
    footer .container {
        padding-inline: 0;
        padding-bottom: 2rem;
    }

   footer .top {
    grid-template-columns: auto 1fr;
   }

   .top nav {
    margin-left: auto;
   }

   .top nav ul {
    width: 14rem;
   }
}